html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: Arial;
	color: #000;

	margin: 0;
	padding: 0;
}

*,
*:before
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 1rem 0 0 0;
}

.mt-6 {
	margin-top: 6rem !important;
}

.img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.page {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}


/* Header */

.header {
	width: 100%;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	box-shadow: 0 5px 22px rgba(0, 0, 0, .25);

	background-color: #444;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__img {
	width: 100%;
	max-width: 11rem;
	max-height: 5rem;
}

.header__link {
	display: block;
	padding: 1.5rem;

	font-size: 1.4rem;
	text-transform: uppercase;
	text-decoration: none;
	transition: background-color .2s linear;

	color: #fff;
}

.header__link:hover {
	background-color: #2A9EFF;
}


/* Homepage, viewArticle, archive */
.headlines {
	margin-top: 11rem;
}

.headlines__list {
	padding: 0;
	list-style: none;
}

.headlines__item {
	border-bottom: 1px solid #444; 
	margin-bottom: 3rem;
	transition: background-color .1s linear;
}

.headlines__item:hover {
	background-color: rgba(201, 203, 203, .30);
}

.headlines__link {
	text-decoration: none;
	display: flex;
	align-items: top;
}

.pubDate {
	color: #eb6841;
	width: 25%;
}

.pubDate span {
	color: #F94141;
}

.headlines__title {
	color: #edc951;
	font-size: 1.8rem;
}

.headlines__summary {
	color: #000;
	padding-top: 1rem;
	padding-bottom: 2rem;
	line-height: 1.5;
}

.headlines__content {
	width: 90%;
}

.archive-link {
	border: 1px solid #7c412b;
	border-radius: .2em;
	padding: 1.2rem;

	text-decoration: none;
	color: #444;

	transition: background-color .2s linear, color .2s linear;
}

.archive-link:hover {
	background-color: #2A9EFF;
	color: #fff;
}

.homepage {
	text-decoration: none;
	color: #444;
}

.article,
.adminHeader {
	margin-bottom: 5rem;
	padding: 1.5rem 0;
	text-align: center;
	box-shadow: 1px 3px 15px rgba(0, 0, 0, .2);
}

.article__title {
	color: #2F68EC;
}

.article__title span {
	color: #F94141;
}

.article__total {
	font-size: 1.6rem;
	color: #444;
}

.article__total span {
	color: #F94141;
}


/* Admin */
.adminHeader {
	width: 100%;
	display: flex;
	position: relative;
	flex-direction: column;
}

.adminHeader__title {
	color: #2F68EC;
}

.adminHeader__username b {
	color: #F94141;
}

.adminHeader__logout {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;

	padding: 1.5rem 2rem;
    font-size: 1.4rem;
    color: #000;

    text-transform: uppercase;
    text-decoration: none;

    transition: background-color .2s linear;
}

.adminHeader__logout:hover {
	background-color: #2A9EFF;
}

.adminHeader__list {
	list-style: none;
	padding: 0;
}

.adminHeader__item {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.adminHeader__item:first-child {
	padding-top: 3rem;
}

.adminHeader__label {
	width: 25%;
	margin-right: 3rem;
	color: #ef7d50;
	text-align: right;
	font-size: 1.6rem;
	font-weight: bold;
}

.adminHeader__input,
.adminHeader__content {
	width: 75%;
	display: block;
	padding: 1rem;

	border: 1px solid #666;
	border-radius: .5rem;
    background: #fff;

    margin-right: 3rem;
}

.adminHeader__input:valid {
	background-color: #EEFFEE;
}
.adminHeader__input:focus {
	outline: none;
}

.adminHeader__content {
	resize: none;
}

/* Form */

.adminForm {
	margin-top: 11rem;
	width: 100%;
	max-width: 40rem;

	background-color: rgba(255, 213, 116, .2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.adminForm__list {
	list-style-type: none;
	padding: 0;
}

.adminForm__item {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.adminForm__item:first-child {
	padding-top: 2rem;
}

.adminForm__label {
	width: 25%;
	margin-right: auto;
	margin-left: 2rem;
}

.adminForm__input {
	width: 75%;
	display: block;

	margin-right: 2rem;
	padding: 1rem;

	border: 1px solid #666;
	border-radius: .5rem;
    background: #fff;
}

.adminForm__input:valid {
	background-color: #EEFFEE;
}
.adminForm__input:focus {

	outline: none;
}

.addArticle-form {
	width: 100%;
	max-width: 96rem;
	background-color: rgba(255, 213, 116, .2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}


/* Operation (admin add, edit, remove) */

.operation {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
}

.operation__add {
	margin-top: 3rem;
}

/* News */
.news {
	margin-top: 11rem;
	box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.news__title {
	margin-top: 1rem;
	color: #edc951;
}

.news__summary {
	color: #000;
	margin-top: 1rem;
	margin-bottom: 2.5rem;
	line-height: 1.5;
	font-style: italic;
}

.news__content {
	margin-bottom: 2rem;
	line-height: 1.4;
}

.news__content h1,
.news__content h2,
.news__content h3,
.news__content h4 {
	color: #eb6841;
	margin: 2rem 0;
}

.homepage {
	margin: 3.5rem 0;
}


/* Button */

.buttons {
	display: flex;
	justify-content: center;
}

.btn {
	display: block;
	border: none;
	padding: 0;
	cursor: pointer;
}

.btn-submit {
	width: 12rem;
	padding: .7em;
	margin: 2rem;

	color: #fff;
	border: 1px solid #7c412b;
	border-radius: .5em;

	font-weight: bold;
	background-color: #ef7d50;

	box-shadow: 0 .1em 0.4em rgba(0, 0, 0, .5);
}

.btn-submit:hover,
.btn-submit:active,
.btn-submit:focus
 {
	color: #ef7d50;
	background-color: #fff;
}

.btn-submit:active {
	box-shadow: 0 0 0.5em rgba(0, 0, 0, .8) inset;
}

.btn-submit:focus {
	outline: none;
}


/* Status and error boxes */

.statusMessage, .errorMessage {
  padding: 1rem;
  margin: 2rem 0;

  border-radius: 5px; 
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .8);
}

.statusMessage {
  background-color: #2b2;
  border: 1px solid #080;
  color: #fff;
}

.errorMessage {
  background-color: #f22;
  border: 1px solid #800;
  color: #fff;
}

/* Place a border around focused fields */

form *:focus {
  border: 1px solid #7c412b;
  outline: none;
}

/* Tables */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5rem;
}

caption, tr, th, td {
  padding: 10px;
  margin: 0;
  text-align: left;
}

table, th {
  border: 1px solid #00a0b0;
}

caption {
	font-size: 2.8rem;
	font-weight: bold;
}

th {
  border-left: none;
  border-right: none;
  background: #ef7d50;
  color: #fff;
  cursor: default;
}

tr:nth-child(odd) {
  background: #fff4cf;
}

tr:nth-child(even) {
  background: #fff;
}

tr:hover {
  background: #ddd;
  cursor: pointer;
}


/* listArticles */

.listArticles,
.editArticle {
	margin-top: 11rem;
}

.footer {
	padding: 1.5rem;
	margin-top: auto;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);

	background-color: #444;
	color: #fff;
}



